html{-webkit-text-size-adjust:none}
body{
	margin:0;
	padding:0;
	min-width:310px;
font-family: 'Roboto', sans-serif;
}
html.bx-no-touch body{min-width:640px}
a img{border:none}
a{
	color: #576e75;
}
.bx_ui_slider_part.p4, .bx_ui_slider_part.p2 {
  display: none;
}
a.email_a {
  font-size: 15px !important;
  text-align: center;
  color: #777 !important;
  font-weight: 400 !important;
  width: 100%;
  text-decoration: underline !important;
}

.bx_bigimages_aligner img { -webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;transition: all 0.4s ease;
padding: 8px;
background: #ffffff;
}

/*.bx_bigimages:hover  {
-moz-transform: scale(2);
-webkit-transform: scale(2);
-o-transform: scale(2);
-ms-transform: scale(2);
transform: scale(2);
background: #ffffff;
text-decoration: none;
z-index: 10000;
margin-left: 200px !important;
}*/

a:hover{}
.bx_logotype span {
  background-size: 100%;
}
.catalog_left a:hover {
  color: #576e75;
}
.catalog_left a {
  color: #3687b8;
}

.lia a.menu_left_c {
  line-height: 18px;
}

.lia {
  padding-left: 39px;
  text-indent: -8px;
}
.lia a.podp {
  line-height: 5px;
}

.ban_left img {
  width: 100%;
  height: 100%;
}

.bx_item_list_section .bx_catalog_item_controls {
  display: none !important;
}

.parent ul li {
  padding-left: 15px;
}

.img_tov {
  width: 90%;
  clear: both;
  padding-top: 10px;
  max-height: 60%;
}

.cat_tov tr {
  line-height: 40px;
}

#ul_catalog_menu_XEVOpk li a {
font-size: 13px;
  font-weight: bold;
  padding: 0 11px;
}

.bx_horizontal_menu_advaced .bx_hma_one_lvl>a {
color: #FFFFFF;
text-shadow: none;
}

.bx_horizontal_menu_advaced .bx_hma_one_lvl .bx_children_container
{
width: 100%;
background: #fff;
}

 .bx_hma_one_lvl.dropdown.hover>a {
background: #88B5E8 !important;
}

.left-menu {
  width: 24%;
  float: left;
  margin-top: 20px;
  min-width: 222px;
}


.bx_content_section {
  float: right;
  padding-right: 15px;
}

.worakarea_wrap_container.workarea.grid {
  overflow: hidden;
}


#menu_discount li:hover ul, #menu_body li.over ul ,
#menu_body li:hover ul, #menu_body li.over ul  {
	display: block;
	}

#menu_discount ul li ,
#menu_body ul li  {
    list-style-type: none;
    border-bottom: 1px solid #fff;
    margin-left: -40px;
    padding-left: 0px;
    } 

#menu_discount ul li ul li ,
#menu_body ul li ul li  {
padding-left: 25%;
padding-top: 8px;
}

#menu_discount ul li ul,
#menu_body ul li ul {
    border-top: 1px solid #fff;
    margin-left: -10px;
    padding-left: 50px;
    }
.podp , .pechat_div{float: right;}
.sortirovka {width: 100%; clear: both;}
.submenu_sort {position: absolute; z-index: 9999999999;}
.sortirovka div a {
  padding: 0 10px;
}
.grid{}
.grid .bx_content_section{margin-bottom: 15px; width: 96%;}
.grid .bx_sidebar{margin-bottom: 15px;}

.ban_left {
  margin: 23px 0 0 6px;
}

.ban_left img {
  margin: 10px 0;
}

/* grid1x2 */
.grid1x2{}
.grid1x2 .bx_content_section{
	float: right;
	width: 66%;
	margin-bottom: 15px;
}
.grid1x2 .bx_sidebar{
	float: left;
	width: 33%;
	margin-bottom: 15px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){	.grid1x2 .bx_sidebar{}}
@media (max-width:640px){
	.grid1x2 .bx_content_section,
	.grid1x2 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid1x2 .bx_sidebar{}
}
@media (max-width:479px){	.grid1x2 .bx_sidebar{}}


/* grid2x1 */

.grid2x1{}
.grid2x1 .bx_content_section{
	float: left;
	width: 64%;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	float: right;
	width: 33%;
	margin-bottom: 15px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px) {
	.grid2x1 .bx_sidebar {
	}

	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar {
		width: 100%;
		float: none;
	}
}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{}
}
@media (max-width:479px){	.grid2x1 .bx_sidebar{}}

/* grid1x3 */
.grid1x3{}
.grid1x3 .bx_content_section{
	float: right;
	width: 74%;
	margin-bottom: 15px;
}
.grid1x3 .bx_sidebar{
	float: left;
	width: 24%;
	margin-bottom: 15px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){	.grid1x3 .bx_sidebar{}}
@media (max-width:640px) {
	.grid1x3 .bx_content_section,
	.grid1x3 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid1x3 .bx_sidebar{}
}
@media (max-width:479px){	.grid1x3 .bx_sidebar{}}


/* grid3x1 */

.grid3x1{}
.grid3x1 .bx_content_section{
	float: left;
	width: 74%;
	margin-bottom: 15px;
}
.grid3x1 .bx_sidebar{
	float: right;
	width: 24%;
	margin-bottom: 15px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){	.grid3x1 .bx_sidebar{}}
@media (max-width:640px) {
	.grid3x1 .bx_content_section,
	.grid3x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid3x1 .bx_sidebar{}
}
@media (max-width:479px){	.grid3x1 .bx_sidebar{}}

/* grid2x2 */

.grid2x2 {}
.grid2x2 .bx_content_section{
	float: left;
	width: 49%;
	margin-bottom: 15px;
}
.grid2x2 .bx_sidebar{
	float: right;
	width: 49%;
	margin-bottom: 15px;
}
@media (max-width:640px) {
	.grid2x2 .bx_content_section,
	.grid2x2 .bx_sidebar{
		width: 100%;
		float: none;
	}
}



/* grid2x2r */

.grid2x2r {}
.grid2x2r .bx_content_section{
	float: right;
	width: 49%;
	margin-bottom: 15px;
}
.grid2x2r .bx_sidebar{
	float: left;
	width: 49%;
	margin-bottom: 15px;
}
@media (max-width:640px) {
	.grid2x2r .bx_content_section,
	.grid2x2r .bx_sidebar{
		width: 100%;
		float: none;
	}
}

/* grid1x2x1 */

.grid1x2x1{}
.grid1x2x1 .bx_content_section{
	width: 50%;
	display: inline-block;
	margin-bottom: 15px;
	vertical-align: top;
}
.grid1x2x1 .bx_sidebar.left{
	width: 24%;
	float: left;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 15px;
	vertical-align: top;
}
.grid1x2x1 .bx_sidebar.right{
	width: 24%;
	display: inline-block;
	margin-bottom: 15px;
	vertical-align: top;
}

@media (max-width:760px) {
	.grid1x2x1 .bx_content_section{
		width: 75%;
		float: right;
	}
	.grid1x2x1 .bx_sidebar.left{	float: left;}
	.grid1x2x1 .bx_sidebar.right{	float: left;}
}

@media (max-width:640px) {
	.grid1x2x1 .bx_content_section{
		width: 100%;
		float: left;
	}
	.grid1x2x1 .bx_sidebar.left{
		width: 49%;
		display: inline-block;
	}
	.grid1x2x1 .bx_sidebar.right{
		width: 49%;
		float: right;
	}
}

@media (max-width:480px) {
	.grid1x2x1 .bx_content_section,
	.grid1x2x1 .bx_sidebar{
		width: 100% !important;
		float: none !important;
	}
}

body {
  background-image: url('http://brigo.ru/bitrix/templates/brigo/images/topgradient.png');
  background-repeat: repeat-x;
  font-size: 12px;
}

.bx_content_section h1{margin-top: 0;}
#menu_discount ul li img ,
#menu_body ul li img  {
  float: left;
}
#menu_discount ul li ,
#menu_body ul li  {
  clear: both;
}
a.menu_left_c, a.podp {
  line-height: 40px;
  margin-left: 8px;
}
/* ---- HEADER ---- */
.header_wrap{
	padding:0 20px;
}
.header_wrap_container{
	margin:0 auto;
	padding-bottom:15px;
	max-width:1120px;
}
/* ---- HEADER ---- TOP SECTION ---- */
.header_top_section{
	position:relative;
	min-height:20px;
	width:100%;
}
.header_top_section_container_two{margin-top:1px}
.header_top_section_container_one{
	float:right;
	/*max-width:200px;*/
	/*width:100%;*/
}
.bx_cart_login_top{
	float:right;
	margin-bottom:14px;
	padding:0;
	border-radius:0 0 4px 4px;
	line-height:44px;
	height: 44px;
	background: #fafcfd;
	vertical-align: middle;
	/*	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fafcfd), to(#f9fbfc));
		background-image:-webkit-linear-gradient(#fafcfd 0%, #f9fbfc 100%);
		background-image:   -moz-linear-gradient(#fafcfd 0%, #f9fbfc 100%);
		background-image:     -o-linear-gradient(#fafcfd 0%, #f9fbfc 100%);
		background-image:        linear-gradient(#fafcfd 0%, #f9fbfc 100%);*/

	box-shadow:0 1px 2px 0 rgba(56,94,104,.26);
	white-space:nowrap;
}
.bx_cart_login_top table tr td {padding:0 5px}
.bx_cart_login_top a{
	color: #576e75;
	text-decoration:underline
}
.bx_cart_login_top a:hover{
	text-decoration:none
}
/*.bx_cart_login_top>table,
.bx_cart_login_top>table>tr>
.bx_cart_login_top>table>tr>td{padding: 0;margin: 0;border-spacing: 0;border-collapse: collapse;}*/

.bx_cart_login_top>div{display: inline-block} /*Fix ��� ����������� ���������*/

/* ---- HEADER ---- --END-- TOP SECTION ---- */
/* ---- HEADER ---- INNER ---- */

.header_inner{
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px 5px 8px;
}

p {  font-family: "pfdindisplaypro", "Arial", "Verdana", "Helvetica" !important;}

.site_title{
	float:left;
	margin:0;
	padding:0 0 0 20px;
	line-height:80px;
}
a.site_title,
.site_title a{
	color:#000;
	font-size: 32px;
	font-weight: bold;
	text-decoration:none;
}
a.site_title span,
.site_title a span{color:#77c7e2}
.header_inner_container_one{
	position:relative;
	float:right;
}
.header_inner_container_two{
  position: absolute;
  right: 241px;
  width: 285px;
  line-height: 0;
}
.bx_search_container {padding:0 !important}
.header_inner_include_aria {
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:80px;
	vertical-align:top;
	text-align:left;
	font-size:12px;
}
.email {
  font-size: 15px !important;
  text-align: center;
  color: #777 !important;
  font-weight: 400 !important;
  width: 100%;
}

.slogan {
  float: left;
  width: 273px;
  margin: 0 0 0 31px;
  padding: 0 0 0 34px;
  position: relative;
  font-size: 17px;
  top: 10px;
  color: #626262;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-style: italic;
}
.header_inner_include_aria span{color:#1b5c79}
.header_inner_include_aria strong{
	display:inline-block;
	padding-top:7px;
	font-size:20px
}
.header_inner_include_aria strong a{
	text-decoration:none;
	color:#1b5c79;
}
.header_inner_bottom_line_container{
	position:relative;
}
.header_inner_bottom_line{
	min-height:6px;
}

h2.cat_le {
  border-bottom: 1px solid #7091AE;
  margin: 0;
  padding: 0;
  color: #6286A7;
}

.img_cata {
  width: 70px;
  height: 50px;
  padding-top: 10px;
}
  
.catalog_left {border-bottom: 1px solid #0089B4;}
/* ---- HEADER ---- --END-- INNER ---- */


.worakarea_wrap_container{
	margin:0 auto;
	padding-bottom:40px;
	max-width:980px;
}
.workarea_wrap{padding:0 20px; 
max-width: 1120px;
  margin: 0 auto;
  overflow: hidden;}

.workarea_wrap h1{
	padding-bottom:14px;
	border-bottom:1px solid #e5e5e5;
	font-size:24px;
}
.workarea_wrap h1 a{
	color:#000;
	text-decoration:none;
}
.bx_title_section{
	margin-top:0;
	padding-top:0;
	vertical-align:middle;
	font-size:26px;
}
.bx_title_section.fll{float:left}
.bx_title_section.stars{border:none}
.bx_title_section.stars .icon{
	display:inline-block;
	padding-right:10px;
	width:27px;
	height:26px;
	background:url(images/stars.png) no-repeat center left;
	vertical-align:top;
	line-height:26px;
}
.bx_title_section.time{border:none}
.bx_title_section.time .icon{
	display:inline-block;
	padding-right:10px;
	width:30px;
	height:30px;
	background:url(images/time.png) no-repeat center left;
	vertical-align:top;
	line-height:26px;
}

.bx_view_all_home{float:right}

/* FOOTER WRAP */
.bottom_wrap{
	padding:0 20px;
}
.bottom_wrap_container{
	margin:0 auto;
	padding-top:20px;
	padding-bottom:40px;
	max-width:980px;
}


.footer_container_one,
.footer_container_two,
.footer_container_tre,
.bottom_container_one,
.bottom_container_two,
.bottom_container_tre{
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:33%;
	vertical-align:top;
	text-shadow:0 1px 0 #fff;
}
.footer_container_two,
.bottom_container_two{padding:0 40px}


.footer_wrap{padding:0 20px;}
.footer_wrap_container{
	margin:0 auto;
	padding-top:20px;
	padding-bottom:40px;
	max-width:980px;
}


/* ---- INC ABOUT FOOTER ---- */
.bx_inc_about_footer h4{font-size:26px;}
.bx_inc_about_footer p{
	margin-top: 0;
	padding-top: 0;
	color: #607b8b;
	font-size: 13px;
	line-height: 22px;
}
.bx_inc_about_footer a{
	color: #0073a3;
	font-weight: bold;
	font-size: 13px;
	line-height: 22px;
}
.bx_inc_about_footer a:hover{text-decoration: none;}

/* ---- INC NEWS FOOTER ---- */
.bx_inc_news_footer h4{
	text-align: left;
	font-size:26px;
}
.bx_inc_news_footer .bx_inc_news_footer_newslist{
	margin: 0;
	padding: 0;
}
.bx_inc_news_footer .bx_inc_news_footer_newslist li{
	display: block;
	margin-top: 0;
	padding-top: 0;
	color: #607b8b;
	font-size: 13px;
	line-height: 22px;}
.bx_inc_news_footer .bx_inc_news_footer_newslist li a{
	color: #0073a3;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	line-height: 22px;
}
.bx_item_list_you_looked_horizontal{
    margin-bottom:86px !important;}

.bx_inc_news_footer .bx_bt_button_type_2{
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}
.bx_inc_news_footer .bx_shadow.bx_bt_button_type_2{box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);}
.bx_inc_news_footer .bx_shadow.bx_bt_button_type_2:active{box-shadow: none;}
.bx_inc_news_footer .bx_bt_button_type_2 				{
	border: 1px solid #e9e9e9;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f1f1f1));
	background-image: -webkit-linear-gradient(#fcfcfc 0%, #f1f1f1 100%);
	background-image:    -moz-linear-gradient(#fcfcfc 0%, #f1f1f1 100%);
	background-image:      -o-linear-gradient(#fcfcfc 0%, #f1f1f1 100%);
	background-image:         linear-gradient(#fcfcfc 0%, #f1f1f1 100%);
	color: #656565;
	text-shadow:0 1px 0 #fff;
}
.bx_inc_news_footer .bx_bt_button_type_2:hover 		{background: #fff;}
.bx_inc_news_footer .bx_bt_button_type_2:active 		{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#fcfcfc));
	background-image: -webkit-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image:    -moz-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image:      -o-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image:         linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.05);
}
.bx_inc_news_footer .bx_big.bx_bt_button_type_2			{
	padding: 0 13px;
	height: 34px;
	font-weight: bold;
	line-height: 34px;
}

/* ---- INC SOCIAL FOOTER ---- */
/*.bx_inc_social_footer{text-align: center;}*/
.bx_inc_social_footer h4{
	text-align: left;
	font-weight: normal;
	font-size:26px;
}
.footer_social_icon{margin-top: 38px}
.footer_social_icon ul{
	margin: 0;
	padding: 0;
}
.footer_social_icon ul li{
	display: inline-block;
	width: 32px;
	height: 32px;
}
.footer_social_icon ul li a{
	display: block;
	width: 32px;
	height: 32px;
	background: url(images/social_icon.png) no-repeat;
	opacity: .9;
}
.footer_social_icon ul li.fb a{background-position:0 0}
.footer_social_icon ul li.tw a{background-position:-32px 0}
.footer_social_icon ul li.gp a{background-position:-64px 0}
.footer_social_icon ul li.vk a{background-position:-96px 0}
.footer_social_icon ul li a:hover{opacity:1}
.footer_contact{
	margin-top: 20px;
	font-size: 13px;
}
.footer_contact strong{
	display: block;
	margin-top: 10px;
	font-size:28px;
}

.copyright{
	color: #fff;
	/*opacity: .6;*/
	font-size: 13px;
	text-align: right;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}


.bx_bt_button,
.bx_bt_button_type_2{
	display:inline-block;
	border: none;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
	vertical-align: middle;
}
.bx_shadow.bx_bt_button,
.bx_shadow.bx_bt_button_type_2{box-shadow:0 1px 1px 0 rgba(0,0,0,.2)}
.bx_shadow.bx_bt_button:active,
.bx_shadow.bx_bt_button_type_2:active{box-shadow:none}

.bx_bt_button  				{
	background:#00a2df;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2df), color-stop(100%,#006fcb));
	background:-webkit-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:   -moz-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:    -ms-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:     -o-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:        linear-gradient(to bottom, #00a2df 0%,#006fcb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2df', endColorstr='#006fcb',GradientType=0 );
	color:#fff;
	text-shadow:0 1px 0 #006cae;
}
.bx_bt_button:hover  		{
	background:#21afe4;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxYWZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#21afe4), color-stop(100%,#006fcb));
	background:-webkit-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:   -moz-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:    -ms-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:     -o-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:        linear-gradient(to bottom, #21afe4 0%,#006fcb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#21afe4', endColorstr='#006fcb',GradientType=0 );
}
.bx_bt_button:active  		{
	background:#006fcb;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmZjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGEyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#006fcb), color-stop(100%,#00a2df));
	background:-webkit-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:   -moz-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:    -ms-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:     -o-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:        linear-gradient(to bottom, #006fcb 0%,#00a2df 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fcb', endColorstr='#00a2df',GradientType=0 );
	box-shadow:inset 0 3px 5px 0 rgba(0,0,0,.21);
}

.bx_bt_button_type_2 		{
	border:1px solid #e9e9e9;
	background:#fcfcfc;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1));
	background:-webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:   -moz-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:    -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:     -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:        linear-gradient(to bottom, #fcfcfc 0%,#f1f1f1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 );
	color:#656565;
	text-shadow:0 1px 0 #fff;
}
.bx_bt_button_type_2:hover 	{
	background:#fff;
}
.bx_bt_button_type_2:active {
	background:#f1f1f1;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfcfc));
	background:-webkit-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:   -moz-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:    -ms-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:     -o-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:        linear-gradient(to bottom, #f1f1f1 0%,#fcfcfc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fcfcfc',GradientType=0 );
	box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
}


.bx_small.bx_bt_button,
.bx_small.bx_bt_button_type_2{
	display:inline-block;
	min-width:20px;
	line-height:20px;
}
.bx_small.bx_bt_button  		{}
.bx_small.bx_bt_button:hover  {}
.bx_small.bx_bt_button:active {}
.bx_small.bx_bt_button_type_2 		{}
.bx_small.bx_bt_button_type_2:hover {}
.bx_small.bx_bt_button_type_2:active{}

.bx_medium.bx_bt_button,
.bx_medium.bx_bt_button_type_2	{
	padding:0 13px;
	height:25px;
	font-weight:bold;
	line-height:25px;
}
.bx_medium.bx_bt_button  	{
	height:27px;
	line-height:27px;
}
.bx_medium.bx_bt_button:hover  {}
.bx_medium.bx_bt_button:active {}
.bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
.bx_medium.bx_bt_button_type_2:hover {}
.bx_medium.bx_bt_button_type_2:active{}

.bx_big.bx_bt_button,
.bx_big.bx_bt_button_type_2	{
	padding:0 13px;
	height:34px;
	font-weight:bold;
	line-height:34px;
}
.bx_big.bx_bt_button  	{
	height:36px;
	line-height:36px;
}
.bx_big.bx_bt_button:hover  {}
.bx_big.bx_bt_button:active {}
.bx_big.bx_bt_button_type_2 	  {}
.bx_big.bx_bt_button_type_2:hover {}
.bx_big.bx_bt_button_type_2:active{}

.bx_big.bx_bt_button.bx_cart span{
	position:relative;
	bottom:-7px;
	display:inline-block;
	margin:0 10px 0 0;
	width:26px;
	height:23px;
	background:url(images/bt_cart.png) no-repeat center;
}

.bt.big.bt_blue.cart span{
	position:relative;
	bottom:-7px;
	display:inline-block;
	margin:0 10px 0 0;
	width:26px;
	height:23px;
	background:url(images/bt_cart.png) no-repeat center;
}

/* component inc_catalog_footer */
.bx_inc_catalog_footer{
	color: #fff;
	text-shadow:0 1px 2px #17326e;
}
.bx_inc_catalog_footer h3{
	padding-bottom: 15px;
	background: url(images/footer_h4_bg.png) repeat-x bottom;
	font-size: 23px;
}
.bx-touch .bx_inc_catalog_footer h3{
	background: url(images/x2footer_h4_bg.png) repeat-x bottom;
	background-size:4px 5px;
}
.bx_inc_catalog_footer ul{
	display: block;
	margin: 0;
	padding: 0;
}
.bx_inc_catalog_footer ul li{
	padding: 0 0 15px;
	display: inline-block;
	width: 49%;
}
.bx_inc_catalog_footer ul li a{
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	text-shadow:0 1px 2px #17326e
}
.bx_inc_catalog_footer ul li a:hover{text-decoration: underline}


/* component inc_menu_footer */
.bx_inc_menu_footer{
	color: #fff;
	text-shadow:0 1px 2px #17326e;
}
.bx_inc_menu_footer h3{
	padding-bottom: 15px;
	background: url(images/footer_h4_bg.png) repeat-x bottom;
	font-size: 23px;
}
.bx-touch .bx_inc_menu_footer h3{
	background: url(images/x2footer_h4_bg.png) repeat-x bottom;
	background-size:4px 5px;
}
.bx_inc_menu_footer ul{
	display: block;
	margin: 0;
	padding: 0;
}
.bx_inc_menu_footer ul li{
	display: block;
	padding: 0 0 15px;
}
.bx_inc_menu_footer ul li a{
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	text-shadow:0 1px 2px #17326e
}
.bx_inc_menu_footer ul li a:hover{text-decoration: underline}

/*1*/
@media (max-width:981px){
	.header_inner_container_two{
		position:relative;
		top:auto;
		right:auto;
		clear:both;
		width:100%;
	}
	.header_inner_container_one{margin:0}
}
/*2*/
/*@media (min-width:640px) and (max-width:980px){*/
@media (max-width:980px){
	.header_top_section_container_one{ }
	.header_top_section_container_two{ }
	.bottom_container_one{width:100%}
	.bottom_container_two{padding:0 20px 0 0}
	.bottom_container_tre{padding:0 0 0 20px}
	.bottom_container_two,
	.bottom_container_tre{width:49%}
}
/*3*/
@media (max-width:850px) {
	.footer_container_one{width:100%}
	.footer_container_two{padding:0 20px 0 0}
	.footer_container_tre{padding:0 0 0 20px}
	.footer_container_two,
	.footer_container_tre{width:49%}
}
@media (min-width:480px) and (max-width:640px) {
	.bx-touch .header_top_section_container_two{ }
	.bx-touch .site_title{
		text-align:center;
		font-size:27px;
	}
	.bx-touch .header_inner_container_one{
		text-align:center;
	}
	.bx-touch .footer_container_one,
	.bx-touch .bottom_container_one{width:100%}
	.bx-touch .footer_container_two,
	.bx-touch .bottom_container_two{padding:0 20px 0 0}
	.bx-touch .footer_container_tre,
	.bx-touch .bottom_container_tre{padding:0 0 0 20px}
	.bx-touch .footer_container_two,
	.bx-touch .footer_container_tre,
	.bx-touch .bottom_container_two,
	.bx-touch .bottom_container_tre{width:49%}
}
/*4*/
@media (min-width:321px) and (max-width:479px) {
	.bx-touch .worakarea_wrap_container {
		padding-top:20px;
		padding-bottom:20px;
	}
	.bx-touch .site_title{
		float:none;
		padding-left:0;
		text-align:center;
		font-size:28px;
		line-height:34px;
	}
	.bx-touch .header_inner_container_one{
		float:none;
		width:100%;
		text-align:center;
	}
	.bx-touch .header_inner_include_aria{
		display:block;
		padding:10px 0 10px;
		text-align:center;
	}
	.bx-touch .footer_container_one,
	.bx-touch .footer_container_two,
	.bx-touch .footer_container_tre,
	.bx-touch .bottom_container_one,
	.bx-touch .bottom_container_two,
	.bx-touch .bottom_container_tre{padding:0;width:100%}
}
/*5*/
@media (max-width:320px){
	.bx-touch .worakarea_wrap_container {
		padding-top:10px;
		padding-bottom:10px;
	}
	.bx-touch .header_top_section_container_one{display:none}
	.bx-touch .header_top_section_container_two{display:none}
	.bx-touch .site_title{
		float:none;
		padding-left:0;
		text-align:center;
		font-size:28px;
		line-height:34px;
	}
	.bx-touch .header_inner_container_one{
		float:none;
		width:100%;
		text-align:center;
	}
	.bx-touch .header_inner_include_aria{
		display:block;
		padding:20px 0 10px;
		text-align:center;
	}
	.bx-touch .footer_container_one,
	.bx-touch .footer_container_two,
	.bx-touch .footer_container_tre,
	.bx-touch .bottom_container_one,
	.bx-touch .bottom_container_two,
	.bx-touch .bottom_container_tre{padding:0;width:100%}
	.bx-touch .tac.ovh{display:none}
}

.site_title,
.worakarea_wrap_container,
.header_inner_container_one,
.header_top_section_container_two,
.header_inner_container_two,
.header_inner_include_aria,
.footer_container_one,
.footer_container_two,
.footer_container_tre,
.bottom_container_one,
.bottom_container_two,
.bottom_container_tre{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

/* ===== reserved class ===== */
.p0{padding:0 !important}
.m0{margin:0 !important}
.dn{display:none !important}
.db{display:block !important}
.wa{width:auto !important}
.dib{display:inline-block !important}
.clb{clear:both !important}
.fln{float:none !important}
.fll{float:left !important}
.flr{float:right !important}
.m0a{margin:0 auto !important}
.fwb{font-weight:bold !important}
.fwn{font-weight:normal !important}
.tal{text-align:left !important}
.tar{text-align:right !important}
.tac{text-align:center !important}
.tdn{text-decoration:none !important}
.tdl{text-decoration:line-through !important}
.vat{vertical-align:top !important}
.vam{vertical-align:middle !important}
.vab{vertical-align:bottom !important}
.posr{position:relative !important}
.posa{position:absolute !important}
.whsn{white-space:normal !important}
.whsnw{white-space:nowrap !important}
.p05{padding:0 5px !important}
.w100p{width:100% !important}
.w90p{width:90% !important}
.wa{width:auto !important}
.ovh{overflow:hidden !important}

/* ===== Debug class ===== */
.dbg1{background-color:rgba(0,0,255,.3) !important}
.dbg2{background-color:rgba(0,255,0,.3) !important}
.dbg3{background-color:rgba(255,0,0,.3) !important}

.dbg0,
.dbg01>div{
	outline-width:2px;
	outline-style:solid;
	outline-color:rgba(0,255,0,.3);
	outline-offset:0px;
}
.dbg01>div>div{
	outline-width:2px;
	outline-style:solid;
	outline-color:rgba(0,0,255,.3);
	outline-offset:0px;
}
.debug{
	/*position: absolute;*/
	/*bottom: 0;*/
	z-index: 1000000000000;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:2px;
	border:1px solid #d0dbb1;
	background:#f5ffdb;
	color:#2d2d2d;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	font-size:10px;
}
#debsizing{font-weight:bold}

@media (min-width:981px){#debsizing:before{content:"981px < (1) "}}
@media (min-width:640px) and (max-width:980px){#debsizing:before{content:"640px < (2) "}#debsizing:after{content:" < 980px"}}
@media (min-width:480px) and (max-width:639px) {#debsizing:before{content:"480px < (3) "}#debsizing:after{content:" < 639px"; }}
@media (min-width:321px) and (max-width:479px) {#debsizing:before{content:"321px < (4) "}#debsizing:after{content:" < 479px"; }}
@media (max-width:320px){#debsizing:before{content:"(5) "}#debsizing:after{content:" < 320px"; }}

.bx_page{
	font-size: 100%;
}
.bx_page h1,
.bx_page h2,
.bx_page h3,
.bx_page h4,
.bx_page h5,
.bx_page h6{
	color:inherit;
	font-weight:500;
	font-family:"pfdindisplaypro",Helvetica,Arial,sans-serif;
	line-height:1.1;
}
.bx_page p{margin:0 0 10px}
.bx_page ul,
.bx_page ol{
	margin-top:0;
	margin-bottom:10px;
}
.bx_page ul ul,
.bx_page ol ul,
.bx_page ul ol,
.bx_page ol ol{margin-bottom:0}
.bx_page .list_unstyled{padding-left:0;list-style:none}
.bx_page .list_nline{
	padding-left:0;
	list-style:none;
}
.bx_page .list_nline>li{
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
}
.bx_page .list_nline>li:first-child{padding-left:0}

.bx_page a 		 {color:#437fcf}
.bx_page a:hover {color:#2d61a8}
.bx_page a:active{color:#2d61a8}

 @font-face {
    #ul_catalog_menu_XEVOpk li a: pfdindisplaypro; /* Гарнитура шрифта */
    src: url(/fonts/pfdindisplaypro-medium.ttf); /* Путь к файлу со шрифтом */
   }

@media (min-width:640px) {.parent {max-height: 130px;}}
@media (min-width:480px) {.parent {max-height: 130px;}}
@media (min-width:320px) {.parent {max-height: 130px;}}

.menu_header {
  padding: 10px 0 0px 0;
  line-height: 1em;
  border-bottom: 1px solid #94aac4;
  background: url('data:;base64,iVBORw0KGgoAAAANSUhEUgAAAF0AAAAZCAYAAABTuCK5AAAAGXRFWHRTb2Z0d…36r8gtdosTepPVU7VhqnYqXFOzvIRYqLyx8431N8CDABiu+wu1RNCOAAAAABJRU5ErkJggg==') no-repeat 9% 10px;
  background: url('/temp/t_catalog.png') no-repeat 9% 10px;
  vertical-align: bottom;
  height: 3em;
}

.menu_header_red {
  background-image: url('/temp/t_diskont.png');
  background-position: 89% 0px;
  background-repeat: no-repeat;
  height: 3em;
  vertical-align: bottom;
  line-height: 1em;
}

.menu_header a {
  font-size: 11px;
  color: #3687b8;
  text-decoration: none;
  border-bottom: 1px dotted #3687b8;
  display: inline-block;
  margin-left: 10%;
  float: left;
  padding-top: 8px;
  width: 20%;
}

.catalog_left {
  min-width: 222px;
}

.menu_header a.active {
  color: #FFF;
}

.sortirovka .dropdown {
	background: url('/temp/catalog_sort_dropdown.png') no-repeat right 6px;
}

.sortirovka .dropdown a {
	color: #00aa00;
	border-bottom-color: #00aa00;
	font-weight: bold;
	margin-right: 10px;
}

.sortirovka ul {
	padding: 15px 10px 0px 10px;
	display: none;
	position: absolute;
	background-color: transparent;
	background-image: url('/temp/sort_popup.png');
	list-style-image: none;
	/*height: 80px;*/
	width: 141px;
	margin-left: 80px;
	margin-top: -4px;
	z-index: 1001;
	background-size: cover;
}

.sortirovka li {
	list-style: none;
	margin-bottom: 10px;
}

#catalog_menu_Lk7Vbr, .bx_horizontal_menu_advaced.bx_blue.small {
  display: none;
}

.worakarea_wrap_container {
  margin-left: 222px;
}

.viewSchema, .select_display, .right-col {
  /*position: absolute;*/
  float: right;
  width: 160px;
}

.select_display a{
  -moz-appearance: none!important;
  color: transparent;
  background: transparent url("/temp/catalog-view-type.png") no-repeat;
  padding: 0 !important;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
	margin-top: 1px;
}

.select_display .list_normal {
  background-position: -19px 0;
}
.select_display .list_active {
  background-position: -19px -19px;
}
.select_display .list_active,.select_display .galery_active {
  cursor: default ;
}
.select_display .galery_normal {
  background-position: 0 0;
}
.select_display .galery_active {
  background-position: 0 -19px;

}
a.podp {
	text-decoration: none;
	color: black;
}

.hr {
  height: 1px;
  display: block;
  width: 100%;
  background: #ccc;
  margin: 1em 0;
}

.sortirovka.info {
  color: #ccc;
  font-size: 90%;
}

.sortirovka.info a {
  padding: 0;
  margin-left: 3px;
  text-decoration: none;
  border-bottom: 1px dotted #4b9bcd;
  color: #3687b8;
}

.sortirovka.info a.active {
  color: #939393;
  cursor: default;
  border-bottom: none;
}

.inline-block {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bx_catalog_list_home .bx_catalog_item_title.catalog_item_title,
.bx_catalog_list_home .bx_catalog_item_title.catalog_item_title a {
	color: #3687b8;
	text-decoration: underline;
	font-size: 110%;
	padding: 5px 0;
	display: inline-block;
	height: auto;
}

.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo.catalog_item_controls_blocktwo,
.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blockone.catalog_item_controls_blockone {
  width: auto;
  display: inline-block;
}

.bx_catalog_list_home .catalog_item_controls_blockone .bx_col_input {
  width: 16px;
}

.bx-no-touch .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls,
.bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls,
.bx_catalog_list_home .bx_catalog_item .bx_catalog_item_articul,
.bx_catalog_list_home .w50_inline-block_container .bx_catalog_item_controls{
  display: block;
  opacity: 1;
}

.w50_inline-block_container.low-line > div, .w50_inline-block.low-line {
  line-height: 1em;
}

.w50_inline-block_container > div, .w50_inline-block {
  width: 48%;
  margin: 0 auto;
  display: inline-block;
  float: left;
  opacity: 1;
	line-height: 2em;
}

.w50_inline-block_container > div:nth-of-type(2+2n) {
  clear: right;
}

.w50_inline-block_container .bx_catalog_item_controls {
margin-top: 0;
padding-top: 0;
}

 div.w50_inline-block_container div.bx_catalog_item_controls_blockone.catalog_item_controls_blockone  a {
   margin-bottom: 0;
}

div.w50_inline-block_container .bx_catalog_item_price {
  text-align: right;
	padding-top: 0;
}

.bx_catalog_list_home  div.w50_inline-block_container .bx_catalog_item_price div {
	display: inline-block;
	padding-top: 0;
}

div.w50_inline-block_container .bx_catalog_item_price .bx_catalog_item_controls_blocktwo {
	display: inline-block;
	float: left;
	margin-left: 2em;
}

.catalog_item_description {
  padding: 0.5em 0;
}

.product_line {
  clear: both;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  display: block;
  float: none;
  margin-bottom: 1em;
  background: transparent;
}

.product_line:hover {
  background: rgba(230, 240, 250, 0.4 );
}

.product_line .catalog_item_description {
  font-size: 110%;
}

.mTop05 {
  margin-top: 0.5em;
}

.compare_link {
	text-decoration: none;
	display: inline-block;
	zoom: 1;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-image: url('/images/compare.png');
	background-position: 0px -26px;
	margin-top: 0.5em;
	line-height: 1.5em;
}

.compare_link span {
	text-decoration: none !important;
	font-size: 11px;
	border-bottom: 1px dotted #3687b8;
	color: #4488bb;
}

.cnt_item img {
  display: none;
}

.compare_link:hover span {
	color: #576E75;
}

.filter_tabs {
  line-height: 2em;
  top: 0;
  /* display: none; */
  position: absolute;
  width: 100%;
  margin-left: -3.5%;
}

.filter_tab_btn {
  /*display: inline-block;*/
  /*width: 49%;*/
  text-align: center;
  /*margin-right: -2px;*/
}

/*.filter_tab_btn:not(:first-of-type) {*/
  /*box-shadow:rgb(170, 170, 170) -3px 0 3px -2px ;*/
/*}*/

/*.filter_tab_btn:first-of-type{
  margin-right: 2px;
}

.filter_tab_btn.show:first-of-type {
 box-shadow: 3px 0px 0px 0px #7ce;
}

.filter_tab_btn.show:not(:first-of-type) {
  box-shadow: -3px 0px 3px -2px #7ce;
}*/


.item_buttons_counter_block.quantity>*{
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.item_info_section .item_buttons .plus_minus_container>a {
  line-height: 9px;
  float: left;
  clear: left;
}

.bx_item_detail .transparent_input.narrow {
  width: 40px;
}

.no-after:after {
	content: '';
	display: none !important;
}

.extended_filters.hidden {
	display: none;
}

.bx_filter.bx_blue .bx_filter_section {
	background: none;
	border-color: #F2F8FA ;
  border-radius: 8px;
  border: none;
}

.bx_filter_parameters_box.active.custom input {
  border-radius: 3px;
  border: 1px solid #9B9393;
  height: 1.5em;
  box-shadow: inset 0 3px 6px 0 rgba(215,215,215,.75);
}

.clearfix {
  /*display: table;*/
  clear: both !important;
  float: none;
  max-height: 1px;
  margin: 0;
  padding: 0;
}

.special_price_btn, .callback_btn, .print_btn, .buy_fast_btn {
  vertical-align: middle;
  line-height: 1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  color: #3687b8;
}
.special_price_btn:hover ,
.callback_btn:hover ,
.buy_fast_btn:hover ,
.print_btn:hover {
  color: #576e75;
}

.special_price_btn::before,
.callback_btn::before,
.buy_fast_btn::before,
.print_btn::before
{
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url("/images/ex_pic.png") no-repeat;
  line-height: 1em;
  vertical-align: middle;
  margin-right: 3px;
  text-decoration: none;
  border: none;
}

.callback_btn::before {
  width: 24px;
  background-image: url("/images/ico_callback.png");
}
.print_btn {
  line-height: 2em;
}
.print_btn::before {
  background-image: url("/images/v_print.png");
}
.buy_fast_btn::before {
  width: 24px;
  background-image: url("/images/fast_buy.png");
}

.buy_fast_ico {
  margin-top: 5px;
}

.item_buttons.vam {
  padding: 1em 0.5em;
  margin: 0 0 1em 0;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: inset 4px 4px 3em -2em;
}

.w50_inline-block_container .compare_link {
  cursor: pointer;
  text-decoration: underline;
  color: #3687b8;
}

.w50_inline-block_container .compare_link:hover {
  color: #576e75;
}

#special_price_window,
#buy_fast_window,
#callback_window
{
  display: none;
}

#buy_fast_window input:not([type=submit]):not([type=checkbox]), #buy_fast_window textarea ,
#callback_window input:not([type=submit]):not([type=checkbox]), #callback_window textarea ,
#special_price_window input:not([type=submit]):not([type=checkbox]), #special_price_window textarea {
  border-radius: 3px;
  border: 1px solid #9B9393;
  height: 2em;
  box-shadow: inset 0 3px 6px 0 rgba(215,215,215,.75);
  width: 240px;
  line-height: 2em;
  margin-bottom: 0.5em;
  vertical-align: middle;
  display: block;
  padding: 5px;
  max-width: 90%;
}

#buy_fast_submit:hover ,
#callback_submit:hover ,
#special_price_submit:hover {
  border-bottom: 2px solid #61a359;
  background: #69de59;
  background: -moz-linear-gradient(top, #69de59 0%, #41cb2f 55%, #41cb2f 90%, #5eb652 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69de59), color-stop(55%,#41cb2f), color-stop(90%,#41cb2f), color-stop(100%,#5eb652));
  background: -webkit-linear-gradient(top, #69de59 0%,#41cb2f 55%,#41cb2f 90%,#5eb652 100%);
  background: -o-linear-gradient(top, #69de59 0%,#41cb2f 55%,#41cb2f 90%,#5eb652 100%);
  background: -ms-linear-gradient(top, #69de59 0%,#41cb2f 55%,#41cb2f 90%,#5eb652 100%);
  background: linear-gradient(top, #69de59 0%,#41cb2f 55%,#41cb2f 90%,#5eb652 100%);
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#buy_fast_submit ,
#callback_submit ,
#special_price_submit {
  zoom: 1;
  position: relative;
  font-size: 14px;
  color: #fff;
  text-shadow: 0px 1px 1px #0b5801;
  border: none;
  border-bottom: 2px solid #4b9541;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #6ccc60;
  background: linear-gradient(top, #6ccc60 0%,#42ad34 55%,#42ad34 90%,#5da254 100%);
  margin: 0 auto;
  display: block;
}

#buy_fast_submit {
  margin: auto;
  display: inline-block;
}

#buy_fast_window input:not([type=submit]):not([type=checkbox]) {
  line-height: 1.5em;
  height: 1.5em;
}
#buy_fast_window {
  padding-left: 0.5em;
}

.red {
  color: red;
}

.map img.mapper {
  margin-left: 100px;
}

.bx_search_container.visual2 input{
  border: none;
  display: inline-block;
  margin-top: 0;
  vertical-align: middle;
	padding-left: 10px;
	width: 160px;
}

.bx_search_container.visual2 input:focus {
  outline: none;
}
.bx_search_container.visual2 input[type=submit] {
  border: none;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  /*margin-top: 10px;*/
  background: transparent url("/images/searchbt.png") center no-repeat;
  cursor: pointer;
}
.bx_search_container.visual2 {
  background: url("/images/search.png") no-repeat;
  width: 260px;
  height: 51px;
  padding: 4px 26px !important;
  margin-left: -25px;
  margin-top: -25px;
}

label.required:after {
  content: '*';
  color: red;
}

.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a {
	width: 100%;
	min-width: 10px;
}

.listView_image {
	float: left;
	width: 80px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 0.5em;
}

.menu_brands_letters,
.menu_brands_letter {
	float: left;
}

.menu_brands_letter {
	width: 1em;
	text-align: center;
	clear: left;
}

div#menu_brands ul {
	padding: 0;
	margin: 0 0 1em 1em;
}

div#menu_brands li {
	list-style: none;
	margin-left: 0.5em;
	margin-bottom: 1em;
}

#menu_brands_tabs span{
	height: 30px;
	color: #fff;
	display: inline-block;
	position: relative;
}

#menu_brands .tleft {
	padding-left: 36px;
	background-image: url('/images/tabs_origin_left2.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#menu_brands .selected {
  z-index: 2;
}
#menu_brands .selected .tleft {
	background-image: url('/images/tabs_sel_left2.png');
}

#menu_brands .tcenter {
	background-image: url('/images/tabs_origin_center2.png');
	height: 25px;
	color: #fff;
	padding: 5px 3px 0px;
	text-decoration: none;
	font-size: 12pt;
	cursor: pointer;
}

#menu_brands .selected .tcenter {
	background-image: url('/images/tabs_sel_center2.png');
	color: #333;
}

#menu_brands .tright {
	padding-right: 36px;
	background-image: url('/images/tabs_origin_right3.png');
	background-position: 100% 0px;
	background-repeat: no-repeat;
}

#menu_brands .selected .tright {
	background-image: url('/images/tabs_sel_right2.png');
}

div#menu_brands_tabs {
	padding-left: 3em;
  position: absolute;
  height: 30px;
}

div#menu_brands_tabs>div {
	float: left;
}

div#menu_brands_tabs>div:nth-child(2) {
  margin-left: -2em;
}


a.menu_brands_letter {
	background-image: url('/images/alphabk.png');
	background-position: -7px 0px;
	margin-left: 1px;
	color: #135b8c;
	font-weight: bold;
	font-family: "PFDinDisplayProBold", "Arial", "Verdana", "Helvetica";
	width: 25px;
	height: 17px;
	text-align: center;
	display: inline-block;
	zoom: 1;
	padding-top: 5px;
	text-decoration: none;
	cursor: pointer;
}

a.menu_brands_letter:hover,
a.menu_brands_letter.selected {
	background-position: -7px -26px;
	/*height: 23px;*/
	padding-top: 7px;
}
.menu_brands_letter_items li a:hover {
	background-position: left 3px;
	color: #666;
}
.menu_brands_letter_items li a {
	background: url('/images/brend_menu.png') no-repeat left -33px;
	text-decoration: none;
	margin-bottom: 3px;
	padding-left: 17px;
	display: block;
	color: #3687b8;
	font-size: 12pt;
}

.menu_brands_letter_items_container {
	width: 195px;
	float: left;
	overflow: hidden;
}

.menu_brands_letter_items.selected {
	display: block;
}
.menu_brands_letter_items {
	display: none;
}

.menu_brands_group.selected {display: block}

.menu_brands_group {
	display: none;
	background: url('/images/brends_bk.png') repeat-y;
	padding: 1em 0;
	border-radius: 22px 10px 10px 19px;
	width: 225px;
  position: absolute;
  margin-top: 30px;
}

.brand_section_picture {
	height: 60px;
	width: 60px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: table-cell;
}

.brand_section_title {
	display: table-cell;
	padding-left: 10px;
	max-width: 120px;
	vertical-align: middle;
}

.brand_section {
	display: table;
}

div.description {
	font-size: 10pt;
	font-weight: normal;
}

.element_title{
  position: relative;
  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#f8f8f8 100%); /* W3C */
  behavior: url(/PIE.htc);
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  vertical-align: top;
  margin-bottom: 16px;
}


.catalog-element_code {
  font-size: 12px;
  color: #de0000;
  width: 100px;
  margin-right: -1px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  padding: 1% 0;
}

.name_block {
  display: inline-block;
  zoom: 1;
  width: 617px;
  padding-left: 15px;
  background-image: url('/images/delimiter180.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  margin-left: -6px;
  min-height: 71px;
}

.name_block h1 {
     font-size: 22px;
     color: #02588d;
     font-family: "PFDinDisplayProMedium", "Arial", "Verdana", "Helvetica";
     padding: 0;
     margin: 0;
  border: none;
   }

.name_block_text {
  color: #454545;
  font-size: 12px;
}

.catalog-element_code_s {
  display: inline-block;
  zoom: 1;
  font-size: 14px;
  font-weight: normal;
  font-family: "PFDinDisplayProBold", "Arial", "Verdana", "Helvetica";
  color: #4aa9e2;
  margin-top: 5px;
}

#menu_brands_tab_before_z .tleft {
  z-index: 2;
}
#menu_brands_tab_after_z .tleft {
  z-index: 1;
}

.catalog-element_vendor a {
  color: rgb(54, 135, 184);
  font-family: PFDinDisplayProMedium, Arial, Verdana, Helvetica;
  font-size: 11px;
  height: auto;
  line-height: 13.5409994125366px;
  text-decoration: underline;
}
.catalog-element_vendor {
  font-size: 11px;
  color: #777777;
  padding-bottom: 5px;
}

.bx_filter.bx_blue {
  background-color: #f1f7fb;
  border-radius: 8px;
  overflow: hidden;
  width: 212px;
  min-width: 0;
  padding-bottom: 1.5em;
}


a#filter_btn_ext ,
a#filter_btn_std {
  font-weight: normal;
  text-decoration: none;
  color: #267fb5;
}

.filter_tab_btn {
  padding: 0;
  margin-left: -2px;
  text-align: center;
  background: #f1f7fb;
  display: inline-block;
  zoom: 1;
  width: 106px;
}
.filter_tab_btn.unact {
  background: #fafafa;
}
.filter_tab_btn.show {
  background: #f1f7fb;
}
.filter_tab_btn.show:not(:first-child) {
  box-shadow: -3px 0px 3px -2px #aaa
}
.filter_tab_btn.unact:not(:first-child) {
  background: url(/images/catalog_filter_tab2.png) no-repeat right top;
}

.bx_filter_title {
  display: none;
}

.bx_filter .bx_filter_parameters_box_title.no-border{
  border: none;
}
.bx_filter .bx_filter_parameters_box_title {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  color: #525252;
  border-bottom: dotted 1px;
  position: relative;
  font-weight: bold;
}

.bx_filter .bx_filter_button_box, .bx_filter .bx_filter_parameters_box {
  margin-bottom: 0.5em;
}

input#set_filter:hover {
  background-position: -310px -67px;
}

input#set_filter {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  background: rgb(255, 255, 255) url(http://brigo.ru/bitrix/templates/brigo/images/brigo_btns_new.png) -310px -15px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: normal;
  margin: 0px;
  padding: 1px 6px;
  text-align: center;
  vertical-align: baseline;
  width: 188px;
}

.bx_filter .bx_ui_slider_handle {
  margin-top: -16px;
  width: 9px;
  height: 22px;
  background: url("/images/scrollbar-handle-vertical.png") no-repeat;
  background-size: contain;
}
.bx_filter .bx_ui_slider_range {
  z-index: 90;
}

.bx_filter .bx_filter_param_label.double {
  width: 48%;
  float: left;
}
.bx_filter .bx_filter_param_label {
  margin-bottom: 0;
  margin-right: 0px;
  font-size: 8pt;
}

.bx_filter .bx_filter_input_checkbox .bx_filter_param_text {
  margin-left: 20px;
}

.bx_filter .bx_filter_input_checkbox {
   min-height: 0;
   padding-top: 0;
   padding-bottom: 0;
}

#arrFilter_P1_MIN, #arrFilter_P1_MAX {
  line-height: 20px;
  font-size: 9pt;
}

div#sale_order_props {
  background: #f1f7fb;
  padding: 2em;
  border: 1px solid #ccc;
  border-top: none;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 3px 6px -3px;
  margin-top: 3em;
}

#sale_order_props_tabs {
  margin-top: -4em;
  margin-bottom: 1.5em;
  margin-left: -27px;
  border-top-left-radius: 6px;
  overflow: hidden;
  border-left: 1px solid #ccc;
}

#sale_order_props_tabs .selected.tab:first-of-type>span {
  background-image: url('/images/tabs_sel_left2.png');
  padding-left: 0;
}

#sale_order_props_tabs .selected .tleft{
  background-image: url('/images/tabs_sel_left2.png');
}
#sale_order_props_tabs .selected .tcenter{
  background-image: url('/images/tabs_sel_center2.png');
}
#sale_order_props_tabs .selected .tright{
  background-image: url('/images/tabs_sel_right2.png');
}


#sale_order_props_tabs .selected .tcenter {
  color: #000;
}

#sale_order_props_tabs .tcenter {
  background-image: url('/images/tabs_origin_center2.png');
  height: 25px;
  color: #fff;
  cursor:  pointer;
  display:   inline-block;
  font-family: PFDinDisplayProBold, Arial, Verdana, Helvetica;
  font-size :   14px;
  font-weight:  bold;
  padding: 5px 3px 0px 8px;
  position:  relative;
}
#sale_order_props_tabs .tright {
  padding-right: 36px;
  background-image: url('/images/tabs_origin_right3.png');
  background-position: 100% 0px;
  background-repeat: no-repeat;
}
#sale_order_props_tabs .tleft{
  padding-left: 36px;
  background-image: url('/images/tabs_origin_left2.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


#sale_order_props_tabs .tab:first-of-type>span{
  padding-left: 5px;
  background-image: url('/images/tabs_origin_left_first2.png');
}
#sale_order_props_tabs .tab:first-of-type .selected>span{
  background-image: url('/images/tabs_sel_left_first2.png');
}

#sale_order_props_tabs .tab{
  margin-right: -36px;
  cursor: pointer;
}
#sale_order_props_tabs .tab2 {
  z-index: 9;
}
#sale_order_props_tabs .tab1 {
  z-index: 11;
}
#sale_order_props_tabs .selected {
  z-index: 12;
  margin-left: -0.9px;
}
#sale_order_props_tabs span{
  height: 30px;
  color: #fff;
  display: inline-block;
  position: relative;
}


.order_label {
  color: rgb(82, 82, 82);
  cursor: default;
  display: inline;
  font-family: PFDinDisplayProBold, Arial, Verdana, Helvetica;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: 18px;
  width: auto;
}


#order_form_div input[type="text"], #order_form_div input[type="password"], #order_form_div textarea, #order_form_div select {
  max-width: 94%;
  width: 94%;
  -webkit-appearance: none;
  -webkit-box-shadow: rgb(119, 119, 119) 0px 1px 3px 0px inset;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 3px;
  border: none;
  box-shadow: rgb(119, 119, 119) 0px 1px 3px 0px inset;
  color: rgb(166, 166, 166);
  cursor: auto;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  height: 25px;
  line-height: normal;
  margin: 10px 0px 0px;
  outline: none ;
  padding: 1px 10px;
}

#order_form_div textarea {
  padding-top: 5px;
}

.groupheader {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  margin: 11px 0px 17px;
}


@media(max-width:700px) {
  .w50_inline-block_container > div, .w50_inline-block {
    width: auto;
  }
  .slogan {
    max-width: 200px;
  }
}

@media (max-width:570px) {
.worakarea_wrap_container {
  margin-left: auto;
}
  .title.notive img {
    max-height: 2em;
    width: auto;
  }
  .bx-touch .header_inner_include_aria {
    padding-top: 0;
  }

  .header_inner_bottom_line_container.left-menu {
    display: none;
  }
  .slogan {
     max-width: 90px;
     font-size: 8pt;
     margin-left: 0;
     padding-left: 7pt;
   }
  .header_inner_include_aria strong  {
    padding-top: 11pt !important
  }
  .header_inner_include_aria strong a {
    font-size: 9pt;
  }
}

#old_user_form.active, #new_user_form.active {
  display: block;
}
#old_user_form, #new_user_form {
  display: none;
}

@media(max-width: 1178px) {
  .bx_catalog_list_home .bx_catalog_item_price .bx_price {
    font-size: 10pt;
    width: 90%;
    vertical-align: middle;
  }
  .bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a {
    padding-left: 6px;
    padding-right: 6px;
    /*width: auto;*/
  }
}


@media(max-width: 1048px) {
  .bx_catalog_list_home .bx_catalog_item_price .bx_price {
    font-size: 9pt;
  }
}

#jur_props {
  display: none;
}

div.title-search-result {
  display: none;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 2px 4px #999;
  background-color: #F1F7FB;
  overflow-y: auto;
  z-index: 995;
  max-height: 500px;
}

table.title-search-result {
  border-collapse: collapse;
  border: none;
  width: 10%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
}

table.title-search-result td.title-search-separator, table.title-search-result th.title-search-separator {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 4px;
}

table.title-search-result th {
  background-image: url('/images/personal_left_shadow.png');
  background-position: 100% 0px;
  background-repeat: repeat-y;
  color: #949494;
  font-weight: normal;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 12px;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

table.title-search-result td {
  background-color: white;
  color: black;
  font-weight: normal;
  padding-bottom: 2px;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding-top: 3px;
}

table.title-search-result .title-search-th {
  background-image: url('/images/searc_triangle.png');
  background-position: 100% 1px;
}

table.title-search-result td.title-search-more:hover,
table.title-search-result td.title-search-all:hover
{
  border-bottom: 1px solid #f3f6f7;
  border-top: 1px solid #f3f6f7;
  background-color: #99ff99;
}
table.title-search-result td.title-search-more {
  background-image: url('/images/searc-arr.png');
  background-repeat: no-repeat;
  background-position: 5px 4px;
  font-size: 11px;
  font-weight: normal;
  padding-right: 15px;
  padding-left: 24px;
  padding-top: 0px;
}

table.title-search-result td.title-search-more a {
  padding-left: 12px;
  padding-right: 15px;
  margin-top: 3px;
  text-decoration: none;
  color: #999999;
}

table.title-search-result td.title-search-all {
  padding-left: 24px;
  padding-right: 15px;
  background-image: none;
}

table.title-search-result td.title-search-all a {
  padding-left: 4px;
  text-decoration: none;
  font-size: 9px;
  text-transform: uppercase;
  color: #267fb5;
}


#applyfilter2:hover {
  color: #666666;
}

#applyfilter2 {
  margin-bottom: 1em;
  display: inline-block;
  color: #3687b8;
  padding-left: 5px;
  margin-top: -1em;
}
